* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./Gilroy-Light.otf');
    font-style: normal;
    font-weight: normal;
}

.hero {
    display: flex;
}

.left {
    background-color: whitesmoke;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.grids-start {
     margin-bottom: 50px;
}

.grid {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.grid .row1 {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.grid img {
    display: flex;
    width: 150px;
    height: 120px;
    object-fit: cover;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}

.right {
    justify-content: right;
    align-items: end;
    display: flex;
    background-color: gainsboro;
    width: 50%;
}